/**
 * Typography Styling
 */
html {
  font-size: 16px;
}

body {
  font-family: $font-body1;
  font-weight: 400;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: $font-heading;
  font-weight: 400;
  line-height: 1.2;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

// KPMG
@font-face {
  font-family: 'KPMG';
  src:  url('~@/assets/fonts/KPMG-Web-Thin.woff2') format('woff2'),
        url('~@/assets/fonts/KPMG-Web-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KPMG';
  src:  url('~@/assets/fonts/KPMG-Web-Light.woff2') format('woff2'),
        url('~@/assets/fonts/KPMG-Web-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}